@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  display: none;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* App.css */
.carousel-slide {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.carousel-slide-active {
  opacity: 1;
  z-index: 1;
}

.carousel-slide-hidden {
  opacity: 0;
  z-index: 0;
}

button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 10px;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
